{% extends 'registration/base.html' %}

{% block title %}
    <title>Login</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="form">
            <h1 class="header">Login</h1>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                {% if form.errors %}
                    <p>{{ form.errors.error }}</p>
                {% endif %}

                <form action="{% url 'login' %}" method="post">
                    <div>
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        <div class="field">
                            {{ form.username }}
                        </div>
                        {{ form.username.help_text }}
                    </div>
                    <div>
                        <label for="{{ form.password.id_for_label }}">Password</label>
                        <div class="field">
                            {{ form.password }}
                        </div>
                        <p class="text forgot-password">Forgot your password? <a href="{% url 'password_reset' %}">Change password</a></p>
                        {{ form.password.help_text }}
                    </div>
                    {% csrf_token %}
                    <div class="field">
                        <button type="submit">Submit</button>
                    </div>
                </form>

                <p class="text">No account yet? <a href="{% url 'register' %}">Sign up</a></p>
            {% endif %}
        </div>
    </div>
{% endblock content %}