{% extends 'registration/base.html' %}

{% block content %}
    <div class="container">
        <div class="form">
            {% if validlink %}

            <h1 class="header">Enter new password</h1>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

            <form method="post">
                <div>
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label>
                    <div class="field">
                        {{ form.new_password1 }}
                    </div>
                </div>
                <div>
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label>
                    <div class="field">
                        {{ form.new_password2 }}
                    </div>
                </div>
                {% csrf_token %}
                <div class="field">
                    <button type="submit">Submit</button>
                </div>
            </form>

            {% else %}

            <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

            {% endif %}
        </div>
    </div>
{% endblock %}
