{% extends 'registration/base.html' %}

{% block title %}
    <title>Reset password</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="form">
            <h1 class="header">Reset password</h1>
            {% if form.errors %}
                <p>{{ form.errors.error }}</p>
            {% endif %}
            <form action="{% url 'password_reset' %}" method="post">
                <div>
                    {{ form.email.errors }}
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    <div class="field">
                        {{ form.email }}
                    </div>
                    {{ form.email.help_text }}
                </div>
                {% csrf_token %}
                <div class="field">
                    <button type="submit">Submit</button>
                </div>
            </form>
            <p class="text">Back to <a href="{% url 'login' %}">Login</a></p>
        </div>
    </div>
{% endblock content %}