{% extends 'registration/base.html' %}

{% block title %}
    <title>Register</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="form">
            <h1 class="header">Register</h1>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                {% if form.errors %}
                    <p>{{ form.errors.error }}</p>
                {% endif %}

                <form action="{% url 'register' %}" method="post">
                    <div>
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        <div class="field">
                            {{ form.username }}
                        </div>
                    </div>
                    <div>
                        <label for="{{ form.username.id_for_label }}">Email</label>
                        <div class="field">
                            {{ form.email }}
                        </div>
                    </div>
                    <div>
                        {{ form.first_name.errors }}
                        <label for="{{ form.first_name.id_for_label }}">Name</label>
                        <div class="field">
                            {{ form.first_name }}
                        </div>
                    </div>
                    <div>
                        {{ form.last_name.errors }}
                        <label for="{{ form.last_name.id_for_label }}">Surname</label>
                        <div class="field">
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div>
                        {{ form.password1.errors }}
                        <label for="{{ form.password1.id_for_label }}">Password</label>
                        <div class="field">
                            {{ form.password1 }}
                        </div>
                    </div>
                    <div>
                        {{ form.password2.errors }}
                        <label for="{{ form.password2.id_for_label }}">Confirm password</label>
                        <div class="field">
                            {{ form.password2 }}
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="field">
                        <button type="submit">Submit</button>
                    </div>
                </form>
                <p class="text">Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
            {% endif %}
        </div>
    </div>
{% endblock content %}