{% extends 'registration/base.html' %}

{% block title %}
    <title>Register</title>
{% endblock title %}

{% block content %}
    <h1>Register</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        {% if form.errors %}
            <p>{{ form.errors.error }}</p>
        {% endif %}

        <form action="{% url 'register' %}" method="post">
            <div>
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}">Username: </label>
                {{ form.username }}
                {{ form.username.help_text }}
            </div>
            <div>
                {{ form.email.errors }}
                <label for="{{ form.username.id_for_label }}">Email: </label>
                {{ form.email }}
            </div>
            <div>
                {{ form.first_name.errors }}
                <label for="{{ form.first_name.id_for_label }}">Name: </label>
                {{ form.first_name }}
            </div>
            <div>
                {{ form.last_name.errors }}
                <label for="{{ form.last_name.id_for_label }}">Surname: </label>
                {{ form.last_name }}
            </div>
            <div>
                {{ form.password1.errors }}
                {{ form.password1.help_text }}
                <label for="{{ form.password1.id_for_label }}">Password: </label>
                {{ form.password1 }}
            </div>
            <div>
                {{ form.password2.errors }}
                <label for="{{ form.password2.id_for_label }}">Confirm password: </label>
                {{ form.password2 }}
                {{ form.password2.help_text }}
            </div>

            {% csrf_token %}
            <button type="submit">Submit</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
    {% endif %}
{% endblock content %}