@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfe9f5;
}

.form {
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
}

.header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form {
    margin-top: 30px;
}

form label {
    margin-left: 20px;
    font-size: 18px;
}

.field {
    height: 45px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.field button,
.field input {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
}

.field input {
    padding: 0 15px;
    border: 1px solid #CACACA;
}

.text,
.text a {
    font-size: 14px;
    text-align: center;
}

.forgot-password {
    margin-bottom: 20px;
}

a {
    color: #0171d3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}