{% extends 'classifier/base.html' %}

{% block content %}
    <div class="container">
        <div class="wrapper">
            <div class="navbar">
                <p>Hello {{ user.username }}</p>
                <a href="{% url 'profile' %}">Profile</a>
            </div>
            <h1 class="header">Classification</h1>

            <p>You have done {{studies_count}} studies</p>
    
            <form action="{% url 'classifier' %}" method="post">
                {{ form }}
                {% csrf_token %}
                <button type="submit">Submit</button>
            </form>
        
            <div>
                <h1 class="header">Results</h1>
                <p>Toxic: {{results.toxic}}</p>
                <p>Severe toxic: {{results.severe_toxic}}</p>
                <p>Obscene: {{results.obscene}}</p>
                <p>Threat: {{results.threat}}</p>
                <p>Insult: {{results.insult}}</p>
                <p>Identity hate: {{results.identity_hate}}</p>
            </div>
        </div>
    </div>
{% endblock %}