{% extends 'classifier/base.html' %}

{% block content %}
    <div class="container">
        <div class="wrapper">
            <div class="navbar">
                <div class="welcome_text">
                    <p>Hello {{ user.username }}</p>
                    <p>You have done {{studies_count}} studies</p>
                </div>
                <a href="{% url 'profile' %}">Profile</a>
            </div>          
    
            <form action="{% url 'classifier' %}" method="post">
                <div>
                    <label for="{{ form.comment_text.id_for_label }}" class="enter_text">Enter your text below</label>
                    <div>
                        {{ form.comment_text }}
                    </div>
                    {{ form.comment_text.help_text }}
                </div>
                {% csrf_token %}
                <div class="field">
                    <button type="submit">Submit</button>
                </div>
            </form>
        
            <div class="results">
                <h1 class="header">Results</h1>
                <p>Toxic: {{results.toxic}}</p>
                <p>Severe toxic: {{results.severe_toxic}}</p>
                <p>Obscene: {{results.obscene}}</p>
                <p>Threat: {{results.threat}}</p>
                <p>Insult: {{results.insult}}</p>
                <p>Identity hate: {{results.identity_hate}}</p>
            </div>
        </div>
    </div>
{% endblock %}